.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/.obsidian/workspace.json
content/.obsidian/graph.json
.vscode
.url-cache/

.idea/

content/.smart-connections/

content/smart-chats/
Untitled.md
